# SST (Spatial Stress Test) Behavioral Analysis

Data Collected June 2015

In [1]:
import pandas as pd
import moss
from scipy import stats
import scipy as sp
import seaborn as sns
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import os.path as op
import re

# TIB - added to fix import error for sst_setup_project from parent dir
import sys
sys.path.append("/Users/thackery/Work/SST/analysis")

#widget ability
# from IPython.html.widgets import interact, interactive, fixed
# from IPython.html import widgets
# from IPython.display import clear_output, display, HTML
import ipywidgets
from ipywidgets import interact, interactive, fixed
from IPython.display import clear_output, display, HTML

import glob

# Gather project info & functions
from sst_setup_project import *

# for plotting
sns.set(style='whitegrid', context='poster')
%matplotlib inline

# R for stats
# %load_ext rpy2.ipython
# %R require(lme4)
# %R require(lmerTest)

### Set up directories & exp-specific information

In [2]:
dirs = dict()
dirs['basedir'] = op.join(op.expanduser('~'), 'Work/SST') #Experiments/SST')
dirs['navdir'] = op.join('/Volumes/group/awagner/sgagnon/SST/nav_data')
dirs['analydir'] = op.join(dirs['basedir'], 'analysis')
dirs['subj_info_file'] = op.join(dirs['basedir'], 'data', 'subj_info.csv')
dirs['shortcut_file'] = op.join(dirs['basedir'], 'data','shortcut_coords.csv')
dirs['order_file'] = op.join(dirs['basedir'], 'data','SST_env_order.csv')

In [3]:
proj = gather_experiment_info(exp_name='SST', dirs=dirs)

### Read in subject information

In [4]:
subj_info = pd.read_csv(dirs['subj_info_file'])
subj_info = subj_info[pd.isnull(subj_info.remove)]
subj_info[['subid']] = subj_info.subid.astype(str)
subj_info

   subid    group  remove
0      1  control     NaN
1      2  control     NaN
2      3  control     NaN
3      4  control     NaN
4      5  control     NaN
5      6  control     NaN
6      7  control     NaN
7      9  control     NaN
8     10  control     NaN
9     11  control     NaN
10    12  control     NaN
11    13  control     NaN
12    14   stress     NaN
13    15   stress     NaN
15    18   stress     NaN
16    19  control     NaN

In [5]:
shortcut_coords = pd.read_csv(dirs['shortcut_file'])
shortcut_coords

      env  x_lo  x_hi  y_lo  y_hi
0    env1    16    32     5    15
1    env2     8    28    28    48
2    env3    24    40    16    24
3    env4    16    32    16    24
4    env5    12    20    20    31
5    env6    24    40    24    40
6    env7    10    15    30    40
7    env8    16    32     0    16
8    env9    24    35     0    12
9   env10    48    56    24    40
10  env11    24    32    40    48
11  env12    24    35    30    45

## Read in data files

In [6]:
trial_order = pd.read_csv(dirs['order_file'])
trial_order[['subid']] = trial_order[['subid']].astype(str)
trial_order.head()

  subid  rep  run  trial  env
0     1    1    1      1    1
1     1    1    1      2    8
2     1    1    1      3    9
3     1    1    2      1    4
4     1    1    2      2    5

In [23]:
dirs['order_file']

'/Users/thackery/Work/SST/data/SST_env_order.csv'

In [24]:
trial_order.subid.unique()

array(['1', '2', '3', '4', '5', '6', '7', '9', '11', '12', '10', '13',
       '14', '15', '16', '18', '19'], dtype=object)

In [8]:
df = pd.DataFrame() # dataframe of subjs x envs
test = True
questionnaires_shock  = False
questionnaires_post  = True

test_types = ['habit', 'shortcut']

# iterate through subjects
# for subid in subj_info.subid:
for subid in [19]:
    
    print subid
    
    if test:
        # iterate through environments
        for run_num in range(1, 12+1):

            if int(subid) < 10:
                # add test file
                test_file = glob.glob(op.join(dirs['navdir'], 'sst0' + str(subid), 'run'+ str(run_num),
                                    'session_*', 'log.txt'))[0]
            else:
                test_file = glob.glob(op.join(dirs['navdir'], 'sst' + str(subid), 'run'+ str(run_num),
                                    'session_*', 'log.txt'))[0]
                
#             print test_file 
            
            output = []
            with open(test_file) as f:
                data = f.readlines()

                for line in data:
                    columns = re.split('\t|\r|\n', line)
                    output.append(columns)
                    
            d2 = pd.DataFrame(output, columns = ['time', 'c2', 'command', 
                                                 'c3', 'c4', 'c5', 'c6', 'c7', 'c8'])

            # include subid and env
            d2['subid'] = subid
            d2['run'] = run_num
                        
            if run_num < 5:
                d2['type'] = 'habit'
            else:
                d2['type'] = 'shortcut'

            # force time to be integer, diff from end to beginning
            d2.time = d2.time.astype(int)
            d2.time = d2.time - d2.time.min()

            df = df.append(d2, ignore_index=True)
        
# Compiled group data
if questionnaires_shock:
    q_file = op.join(dirs['basedir'], 'data/Quest/Questionnaires_shockblock_group.csv')
    dq_shock = pd.read_csv(q_file, index_col=0)

if questionnaires_post:
    q_file = op.join(dirs['basedir'], 'data/Quest/Questionnaires_group.csv')
    dq_post = pd.read_csv(q_file, index_col=0)
    dq_post['subid'] = dq_post.subid.astype(str)

19

## Look at data

In [9]:
df.head()

,time,c2,command,c3,c4,c5,c6,c7,c8,subid,run,type
0,0,1,COMMON_WIN_PROPERTIES,800,600,True,False,,,19,1,habit
1,1615,0,CAMERA_INIT,PandaEPL_defaultCamera,,,None,None,None,19,1,habit
2,1615,0,VR_INIT,,,None,None,None,None,19,1,habit
3,1615,0,VR_CREATED,,,None,None,None,None,19,1,habit
4,6119,0,CONF_LOAD,./config.py,None,,,None,None,19,1,habit

## Integrate env labels

#### Any runs without 3 trials?

In [10]:
counts = pd.groupby(df[df.command == "ORIENT"], by=['subid', 'run']).count().reset_index()
counts[counts.command != 3]

Empty DataFrame
Columns: [subid, run, time, c2, command, c3, c4, c5, c6, c7, c8, type]
Index: []

In [11]:
orient_onsets = df[df.command == "ORIENT"]
orient_onsets.head()

,time,c2,command,c3,c4,c5,c6,c7,c8,subid,run,type
214,23979,12,ORIENT,oriented_to_env,,,None,None,None,19,1,habit
18951,123371,13,ORIENT,oriented_to_env,,,None,None,None,19,1,habit
32703,203846,12,ORIENT,oriented_to_env,,,None,None,None,19,1,habit
43944,17481,14,ORIENT,oriented_to_env,,,None,None,None,19,2,habit
57682,96234,14,ORIENT,oriented_to_env,,,None,None,None,19,2,habit

In [12]:
orient_onsets.index[1:]

Int64Index([ 18951,  32703,  43944,  57682,  72091,  84674,  98164, 109556,
            121921, 133142, 148625, 204109, 209654, 217426, 225543, 232258,
            240671, 245540, 253926, 264219, 274004, 281990, 287893, 297694,
            306858, 312950, 321056, 327039, 333296, 338556, 350028, 356214,
            361533, 368847, 374881],
           dtype='int64')

In [13]:
orient_onsets['trial'] = 0 # init trial number

for counter, ind in enumerate(orient_onsets.index):
    if counter == 0: # first trial
        first_ind = ind
        orient_onsets.ix[ind, 'trial'] = 1
        prev_ind = ind
    else:
        if orient_onsets.ix[ind, 'run'] == orient_onsets.ix[prev_ind, 'run']:
            orient_onsets.ix[ind, 'trial'] = orient_onsets.ix[prev_ind, 'trial'] + 1
            prev_ind = ind
        else:
            orient_onsets.ix[ind, 'trial'] = 1
            prev_ind = ind

/Users/thackery/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/thackery/anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [14]:
orient_onsets.head()

,time,c2,command,c3,c4,c5,c6,c7,c8,subid,run,type,trial
214,23979,12,ORIENT,oriented_to_env,,,None,None,None,19,1,habit,1
18951,123371,13,ORIENT,oriented_to_env,,,None,None,None,19,1,habit,2
32703,203846,12,ORIENT,oriented_to_env,,,None,None,None,19,1,habit,3
43944,17481,14,ORIENT,oriented_to_env,,,None,None,None,19,2,habit,1
57682,96234,14,ORIENT,oriented_to_env,,,None,None,None,19,2,habit,2

In [15]:
trial_order.head()

  subid  rep  run  trial  env
0     1    1    1      1    1
1     1    1    1      2    8
2     1    1    1      3    9
3     1    1    2      1    4
4     1    1    2      2    5

In [16]:
orient_onsets = orient_onsets.reset_index().merge(trial_order)
orient_onsets.head()

Empty DataFrame
Columns: [index, time, c2, command, c3, c4, c5, c6, c7, c8, subid, run, type, trial, rep, env]
Index: []

In [17]:
df['env'] = np.nan
df['rep'] = np.nan
df['trial'] = np.nan

for i in orient_onsets.index:
    index_val = orient_onsets.loc[i, 'index']
    df.loc[index_val, 'env'] = 'env' + orient_onsets.loc[i, 'env'].astype(str)
    df.loc[index_val, 'rep'] = orient_onsets.loc[i, 'rep']
    df.loc[index_val, 'trial'] = orient_onsets.loc[i, 'trial']

df.env.fillna(method='ffill', inplace=True)
df.rep.fillna(method='ffill', inplace=True)
df.trial.fillna(method='ffill', inplace=True)

In [18]:
print len('env' + orient_onsets.env.astype(str))
print len(df.loc[orient_onsets['index'], 'env'])

0
0

### Look at 2D position in space

In [19]:
dp = df[df.command == 'VROBJECT_POS'].reset_index()
dp = dp.drop(['c5', 'c6', 'c7', 'c8', 'command', 'index'], 1) # remove unncessary cols
dp.head()

,time,c2,c3,c4,subid,run,type,env,rep,trial
0,13958,1,terrain0,"LPoint3f(0, 0, 0)",19,1,habit,NaN,NaN,NaN
1,13958,1,Jim_Parsons,"LPoint3f(52, 28, 0.5)",19,1,habit,NaN,NaN,NaN
2,13958,1,giraffe,"LPoint3f(20, 8, 0.5)",19,1,habit,NaN,NaN,NaN
3,13958,1,drill,"LPoint3f(28, 36, 0.5)",19,1,habit,NaN,NaN,NaN
4,13958,1,zzz,"LPoint3f(28, -4, 0.2)",19,1,habit,NaN,NaN,NaN

In [20]:
dp = dp.join(pd.DataFrame(dp.c4.str.split('Point3|, |\(|\)').tolist()).reindex(columns=[2, 3, 4]))
dp.rename(columns={2: 'x', 3: 'y', 4: 'z'}, inplace=True)
dp = dp.drop(['c4', 'c2'], 1)
dp[['x', 'y', 'z']] = dp[['x', 'y', 'z']].astype(float)
dp.head()

    time           c3  subid  run   type  env  rep  trial     x     y    z
0  13958     terrain0     19    1  habit  NaN  NaN    NaN   0.0   0.0  0.0
1  13958  Jim_Parsons     19    1  habit  NaN  NaN    NaN  52.0  28.0  0.5
2  13958      giraffe     19    1  habit  NaN  NaN    NaN  20.0   8.0  0.5
3  13958        drill     19    1  habit  NaN  NaN    NaN  28.0  36.0  0.5
4  13958          zzz     19    1  habit  NaN  NaN    NaN  28.0  -4.0  0.2

In [21]:
dp.env.unique()

array([ nan])

In [22]:
def plot_sub(subj, env, test_trial, rep):
    plot_paths(env=env, subj=subj, 
               dp=dp.loc[(dp['type'] == test_trial) &
                         (dp.rep == rep)], 
               proj=proj, dirs)
    
subj_opts = ipywidgets.Dropdown(options=list(dp.subid.unique()))
env_opts = ipywidgets.Dropdown(options=list(np.sort(dp.env.unique()[1:])))
test_opts = ipywidgets.Dropdown(options=list(['habit', 'shortcut']))
rep_opts = ipywidgets.IntSlider(min=1, max=2)

w = ipywidgets.interact(plot_sub, 
                        subj=subj_opts, 
                        env=env_opts, 
                        test_trial=test_opts, 
                        rep=rep_opts)

SyntaxError: non-keyword arg after keyword arg (<ipython-input-22-658e65c7f6d1>, line 5)